{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}

{% if request.user.is_applicant %}

{% if not request.user.has_resume %}
<div class="alert alert-danger" role="alert">
    <b>İş İlanlarına başvurabilmeniz için önce Cv oluşturmalısınız. Cv oluşturmak için <a href="{% url 'update_resume' %}">tıklayınız</a></b>
  </div>
{% else %}
<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">Django Jobs. Get Hired Quickly.</h2> <br>
            <div class="card">
                <div class="card-body">
                    <form class="row gy-2 gx-3 align-items-center">
                        <div class="col-sm-3">
                            <label for="autoSizingInput">Name</label>
                            {% render_field filter.form.title class="form-control" id="autoSizingInput" placeholder="Job Keyword" %}
                            <!-- <datalist id="jobs">
                                
                                {% for job in filter_job %}
                                    <option value="{{ job.title }}"></option>
                                {% endfor %}
                                    
                            </datalist> -->
                            
                        </div>
                        <div class="col-sm-3">
                            <label for="autoSizingSelect">Select Locaiton</label>
                            {% render_field filter.form.location %}
                        </div>
                        <div class="col-sm-3 form-check">
                            <label for="flexCheckDefault">Choose Job Type</label>
                            {% render_field filter.form.job_type id="flexCheckDefault" %}
                        </div>
                        <div class="col-sm-3">
                            <label for="autoSizingSelect">Select Insdustry</label>
                            {% render_field filter.form.industry %}
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-sm-3">

                                <label for="autoSizingSelect">Salary Range</label>
                                <div class="d-flex justify-content-center align-items-center">
                                    {% render_field filter.form.salary class="form-control border border-1 border-dark" %}
                                </div>

                            </div>
                            <div class="col-sm-3 d-flex justidy-content-center align-items-center">
                                <select name="sort" id="sort-list" class="form-select" style="margin-left: auto;">
                                    <option value="" id="placeholder">Sort</option>
                                    <option id="salary" value="salary" {% if sort == 'salary' %} selected {% endif %}
                                    >Salary: Low To High</option>
                                    <option id="-salary" value="-salary" {% if sort == '-salary' %} selected {% endif %}>Salary: High To Low</option>
                                    <option id="title" value="title" {% if sort == 'title' %} selected {% endif %}>A-Z</option>
                                    <option id="-title" value="-title" {% if sort == '-title' %} selected {% endif %}>Z-A</option>
                                  </select>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <p class="col-md-8 fs-6 mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, optio blanditiis laborum quod sunt doloribus esse ratione nisi adipisci delectus earum in fuga praesentium! Sed, maxime! Ducimus, dicta vel! Esse.
            </p>
            <button class="btn btn-outline-primary" type="button">More Jobs</button>
        </div>
    </div>
</section>
<div class="row row-cols-1 row-cols-md-3 g-4">
    

        
        {% for job in filter_job %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{% url 'job_details' job.id %}"><h5 class="card-title">{{ job.title }}</h5></a>
                    <p class="card-text">Salary: {{ job.salary|intcomma }}</p>
                    <p class="card-text">Location: {{ job.location }}</p>
                    <p class="card-text">Company: {{ job.company }}</p>
                    <p class="card-text">Job Type: {{ job.job_type }}</p>
                    <p class="card-text">Industry: {{ job.industry }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ job.addjob|naturaltime }}</small>
                </div>
            </div>
        </div>
            
        {% endfor %}

        
</div>
<div class="row align-items-center">
    <div class="col-md-10 mx-auto col-lg-2 mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                
                {% if filter_job.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="{{path}}&page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="{{path}}&page={{ filter_job.pervious_page_number }}">Geri</a></li>
                <li class="page-item"><a class="page-link" href="{{path}}&page={{ filter_job.number|add:'-1' }}">{{ filter_job.number|add:"-1" }}</a></li>
                {% endif %}
                    
              <li class="page-item"><a class="page-link" href="{{path}}&page={{ filter_job.number }}">{{ filter_job.number }}</a></li>
              
              {% if filter_job.has_next %}
              <li class="page-item"><a class="page-link" href="{{path}}&page={{ filter_job.number|add:'1' }}">{{ filter_job.number|add:"1" }}</a></li>
              <li class="page-item"><a class="page-link" href="{{path}}&page={{ filter_job.next_page_number }}">İleri</a></li>
              <li class="page-item">
                <a class="page-link" href="{{path}}&page={{ filter_job.paginator.num_pages }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
                
            </ul>
          </nav>
    </div>
</div>
    
{% endif %}


    
    

{% elif request.user.is_recruiter %}
{% if not request.user.has_company %}
<div class="alert alert-danger" role="alert">
    <b>İş İlanı verebilmeniz için önce şirket oluşturmalısınız. Şirket oluşturmak için <a href="{% url 'update_company' %}">tıklayınız</a></b>
  </div>
{% endif %}
<section>
    <div class="p-5 mb-4 bg-light py-5">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to Django Jobs</h1>
            <p class="col-md-8 fs-4">
                Recruiter Dashboard
            </p>
        </div>

    </div>

</section>
{% endif %}
{% endblock content %}


{% block js %}
<script>
    $( function() {
        $( "#autoSizingInput" ).autocomplete({
          source: '{% url "dashboard" %}'
        });
      } );
</script>
{% endblock js %}
    