{% extends 'base.html' %}


{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">Django Jobs. Get Hired Quickly.</h2> <br>
            <div class="card">
                <div class="card-body">
                    <form class="row gy-2 gx-3 align-items-center">
                        <div class="col-sm-2">
                            <label class="visually-hidden" for="autoSizingInput">Name</label>
                            <input type="text" class="form-control" id="autoSizingInput" placeholder="Job Keyword">
                        </div>
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="autoSizingSelect">Select Locaiton</label>
                            <select class="form-select" id="autoSizingSelect">
                                <option selected>Select Locaiton</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="autoSizingSelect">Choose Job Type</label>
                            <select class="form-select" id="autoSizingSelect">
                                <option selected>Choose Job Type</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="autoSizingSelect">Select Insdustry</label>
                            <select class="form-select" id="autoSizingSelect">
                                <option selected>Select Industry</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <p class="col-md-8 fs-6 mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, optio blanditiis laborum quod sunt doloribus esse ratione nisi adipisci delectus earum in fuga praesentium! Sed, maxime! Ducimus, dicta vel! Esse.
            </p>
            <button class="btn btn-outline-primary" type="button">More Jobs</button>
        </div>
    </div>
</section>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-10 mx-auto col-lg-2 mt-4">
        <nav>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a href="#" class="page-link" tabindex="-1">Prev</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link" tabindex="-1">1</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" tabindex="-1">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" tabindex="-1">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" tabindex="-1">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
    
{% endblock content %}
    